.App {
    background: linear-gradient(to top, #fff, #000);
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(100px, 200px) 1fr minmax(100px, 200px);
    grid-template-rows: 100px auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: stretch;
}

.App-navigation {
    padding: 10px;
    color: white;
    background: #ED6A5E;
    border-radius: 16px 16px 16px 16px;
    font-family: 'Abril Fatface', cursive;
}

.App-sidebar {
    background: rgba(255, 255, 255, 0.9);
    display: relative;
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
}

.App-sidebar img {
    max-width: 100%;
}

.App-navigation h1 {
    font-size: 36pt;
}

.Article-title {
    font-size: 2em;
}

.App-navigation {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Abril Fatface', cursive;
}

.App-navigation a {
    font-size: 14pt;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
}

.App-mainContent {
    grid-column: 2;
    font-family: 'Abril Fatface', cursive;
}


.App-logo {
    grid-column: 1;
    grid-row: 1;
    background: #F7EBE8;
    border-radius: 16px 16px 16px 16px;
    display: flex;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
}

.App-title img {
    width: 50px;
    height: 50px;
}