.LightGripe-window-text-size {
  font-size: 5em;
  color: #ED6A5E;
  text-align: center;
  padding: 0.5em;
  height: 6em;
  overflow-x: hidden;
}
.LightGripe-window-submit--button {
  color: #f7ebe8;
  background: #444140;
  text-align: center;
  font-size: 24pt;
  padding: 10px;
  margin: auto;
  width: 240px;
  border-radius: 8px;
  border: 2px solid #444140;
  transition: background .5s, color .5s
}

.LightGripe-window-submit--button:hover {
    color: #444140;
    background: #f7ebe8;

}
