.LandingPage {
  text-align: center;
  /* border: 3px solid #ed6a5e; */
  /* border-radius: 8px; */
}

.LandingPage-header {
  background-color: #f7ebe8;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #ed6a5e;
  text-align: left;
  padding: 10px;
}

.LandingPage a {
  color: #ed6a5e;
  font-size: 1.5em;
  text-decoration: underline;

}

.LandingPage h2 {
    text-align: center;
}
