.App-sideMenu {
    grid-column: 1;
    grid-row: 2;
    color: white;
    background: #FFA987;
    display: flex;
    flex-direction: column;
    /* border-radius: 16px 16px 16px 16px; */
}

.App-sideMenu p {
    color: black;
}
