.Gripes {
}

.Gripes-article {
  background: white;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.Gripes-articleActions > div {
  display: inline-block;
  position: absolute;
  top: 10px;
  cursor: pointer;
  user-select: none;
}

.Gripes-articleActions > div:first-child {
  right: 10px;
}

.Gripes-articleActions > div:last-child {
  left: 10px;
}
