.SubmitGripe textarea {
  font-size: 24pt;
  padding: 10px;
  margin: 5px;
  width: 98%;
  border: 2px solid #ed6a5e;
  border-radius: 8px;
  background: #f7ebe8;
}

.SubmitGripe--button {
  color: #f7ebe8;
  background: #ed6a5e;
  text-align: center;
  font-size: 24pt;
  padding: 10px;
  margin: 5px;
  width: auto;
  border-radius: 8px;
  border: 2px solid #ed6a5e;

}

.SubmitGripe--button:hover {
    color: #ed6a5e;
    background: #f7ebe8;
}

.SubmitGripe--inputs {
    display: flex;
    flex-wrap: nowrap;
    color: #ffa987;
    border-radius: 50%;


}

.SubmitGripe--inputs label {
    width: auto;

}

.SubmitGripe h1 {
    color: #ffa987;
}
